<div class="backdrop is-hidden" data-modal>
    <div class="modal" >
        <button class="btn-close" type="button" data-modal-close>
            <svg class="btn-close-icon" width="10" height="10">
                <use href="./img/icons.svg#x"></use>
            </svg>
        </button>
        <div class="modal-img-wrap">
            <img class="img-watch-modal" srcset="./img/catalog/watch1.jpeg 1x, ./img/catalog/watch1-2x.jpeg 2x" src="./img/catalog/watch1.jpeg" alt="watch s42" width="276" height="274">
            <p class="description-watch">Tube Watch S42 Date Steel With Black Case</p>
            <span class="price-watch">€395</span>
        </div>
        <form class="modal-form">
            <label class="modal-form-label">
                <span class="label-text">Full name</span>
                <input class="modal-form-input" type="text" name="user-name" pattern="[A-z]{1,15}" placeholder="Enter your full name" required>
            </label>
            <label class="modal-form-label">
                <span class="label-text">Email</span>
                <input class="modal-form-input" type="text" name="user-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter your email" required>
            </label>
            <label class="modal-form-label">
                <span class="label-text">Card number</span>
                <input class="modal-form-input" type="text" name="user-card" pattern="[0-9]{16}"  placeholder="Enter card" required>
            </label>
            <label class="modal-form-label">
                <span class="label-text">Comments</span>
                <textarea class="modal-form-textarea" name="comment-tex tarea" pattern="[A-Za-z]" placeholder="Enter your text" ></textarea>
            </label>
            <button class="modal-btn modal-btn-submit" type="submit">submit</button>
            <span class="modal-text-privacy">By clicking on “Submit” button, you agree to our Privacy Policy, and allow Promodo to use this information for marketing purposes.</span>
        </form>
    </div>
</div>
