<section class="section catalog project-margin">
<div class="container container-catalog">
    <h2 class="secondary-title" id="catalog" >Catalog</h2>
    <ul class="catalog-watches">
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch1.jpeg 1x, ./img/catalog/watch1-2x.jpeg 2x" src="./img/catalog/watch1.jpeg" alt="watch s42" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div>
            </div>
            <p class="description-watch">Tube Watch S42 Date Steel With Black Case</p>
            <span class="price-watch">€395</span>
        </li>
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch2.jpeg 1x, ./img/catalog/watch2-2x.jpeg 2x" src="./img/catalog/watch2.jpeg" alt="watch Police" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div>
            </div>
            <p class="description-watch">Avondale Watch Police For Men</p>
            <span class="price-watch">€800</span>
        </li>
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch3.jpeg 1x, ./img/catalog/watch3-2x.jpeg 2x" src="./img/catalog/watch3.jpeg" alt="watch Chronometer" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div>
            </div>
            <p class="description-watch">Diver  300M Co‑Axial Master Chronometer Chronograph</p>
            <span class="price-watch">€600</span>
        </li>
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch4.jpeg 1x, ./img/catalog/watch4-2x.jpeg 2x" src="./img/catalog/watch4.jpeg" alt="watch Chronometer" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div>
            </div>
            <p class="description-watch">Diver 300M Co-Axial Master Chronometer </p>
            <span class="price-watch">€1400</span>
        </li>
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch5.jpeg 1x, ./img/catalog/watch5-2x.jpeg 2x" src="./img/catalog/watch5.jpeg" alt="watch Toman" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div>    
            </div>
            <p class="description-watch">Taman Watch By Police For Men</p>
            <span class="price-watch">€500</span>
        </li>
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch6.jpeg 1x, ./img/catalog/watch6-2x.jpeg 2x" src="./img/catalog/watch6.jpeg" alt="watch Malawi" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div>    
            </div>
            <p class="description-watch">Malawi Watch Police For Men</p>
            <span class="price-watch">€555</span>
        </li>
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch7.jpeg 1x, ./img/catalog/watch7-2x.jpeg 2x" src="./img/catalog/watch7.jpeg" alt="watch Chronometer" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div> 
            </div>
            <p class="description-watch">Diver 300M Co-Axial Master Chronometer </p>
            <span class="price-watch">€1200</span>
        </li>
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch8.jpeg 1x, ./img/catalog/watch8-2x.jpeg 2x" src="./img/catalog/watch8.jpeg" alt="watch GreenLane" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div> 
            </div>
            <p class="description-watch">Greenlane Watch By Police For Men</p>
            <span class="price-watch">€1000</span>
        </li>
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch9.jpeg 1x, ./img/catalog/watch9-2x.jpeg 2x" src="./img/catalog/watch9.jpeg" alt="watch Squadrc" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div> 
            </div>
            <p class="description-watch">Squardrc 5402 Chrono</p>
            <span class="price-watch">€359</span>
        </li>
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch10.jpeg 1x, ./img/catalog/watch10-2x.jpeg 2x" src="./img/catalog/watch10.jpeg" alt="watch Chronograph" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div> 
            </div>
            <p class="description-watch">Diver  300M Co‑Axial Master Chronometer Chronograph</p>
            <span class="price-watch">€400</span>
        </li>
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch11.jpeg 1x, ./img/catalog/watch11-2x.jpeg 2x" src="./img/catalog/watch11.jpeg" alt="watch Citizen" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div> 
            </div>
            <p class="description-watch">Citizen</p>
            <span class="price-watch">€519</span>
        </li>
        <li class="catalog-watches-item">
            <div class="img-wrap">
                <img class="img-watch-catalog" srcset="./img/catalog/watch12.jpeg 1x, ./img/catalog/watch12-2x.jpeg 2x" src="./img/catalog/watch12.jpeg" alt="watch Armani" width="276" height="274">
                <svg class="heart-icon" width="20" height="20">
                    <use href="./img/icons.svg#heart"></use>
                </svg>
                <div class="img-text-wrap">
                    <h3 class="cards-title">Description</h3>
                    <p class="cards-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h3 class="cards-title">DETAILS & FEATUREStion</h3>
                    <pre class="cards-text">Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre>
                </div> 
            </div>
            <p class="description-watch">Armani Exchange</p>
            <span class="price-watch">€400</span>
        </li>
    </ul>
    <button class="modal-btn modal-btn-open" type="button" data-modal-open>Buy now</button>
</div>
</section>
