<footer class="footer">
  <div class="cont-foot">
    <div class="foot-two">
      <div class="foot-one">
        <ul class="list list-f-one">
          <li>
            <img src="../img/logo.png" alt="" />
          </li>
          <li>
            <a class="footer-tel link" href="tel:+380(68)443-94-26"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="text-footer item">1678 S. Pioneer Road</li>
          <li class="text-footer item">Salt Lake City</li>
          <li class="text-footer item">UT 84104</li>
        </ul>

        <ul class="list list-f-two s">
          <li class="item about-list">About Us</li>
          <li class="item about-list">Catalog</li>
          <li class="item about-list">Sale</li>
        </ul>
      </div>
      <ul class="list soc-list soc-foot">
        <li class="soc">
          <svg class="soc-foot" width="28" height="28">
            <use class="svg-foot" href="../img/icons.svg#facebook"></use>
          </svg>
        </li>
        <li class="soc">
          <svg class="soc-foot" width="28" height="28">
            <use href="../img/icons.svg#instagram"></use>
          </svg>
        </li>
        <li class="soc">
          <svg class="soc-foot" width="28" height="28">
            <use href="../img/icons.svg#youtube"></use>
          </svg>
        </li>
      </ul>
    </div>
    <ul class="list list-footer-down">
      <li class="link item footer-down footer-down-a">
        ©2022 The Watch Spot. All rights reserved.
      </li>
      <div class="list-footer-down-one">
        <li class="link item footer-down footer-down-p">Privacy Policy</li>
        <li class="link item footer-down footer-down-t">Terms of Service</li>
      </div>
    </ul>
  </div>
</footer>
