<footer class="footer">
  <div class="cont-foot container">
    <div class="foot-two">
      <div class="foot-one">
        <ul class="list list-f-one">
          <li>
            <a href="./index.html"
              ><img class="footer-logo" src="./img/logo.png" alt="logo"
            /></a>
          </li>
          <li>
            <a class="footer-tel link footer-title" href="tel:+380(68)443-94-26"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="text-footer item footer-title">
            <a href="https://goo.gl/maps/3FrXX8XXqM8a9k8k6"
              >1678 S. Pioneer Road <br />
              Salt Lake City <br />
              UT 84104</a
            >
          </li>
        </ul>

        <ul class="list list-f-two s">
          <li class="item about-list footer-title">
            <a href="#about_us">About Us</a>
          </li>
          <li class="item about-list footer-title">
            <a href="#catalog">Catalog</a>
          </li>
          <li class="item about-list footer-title"><a href="#sale">Sale</a></li>
        </ul>
      </div>
      <ul class="list soc-list soc-foot">
        <li class="soc">
          <a
            class="socials-link"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram link"
          >
            <svg class="soc-foot" width="28" height="28">
              <use class="svg-foot" href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="soc">
          <a
            class="socials-link"
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram link"
          >
            <svg class="soc-foot" width="28" height="28">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc">
          <a
            class="socials-link"
            href="https://youtube.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram link"
          >
            <svg class="soc-foot" width="28" height="28">
              <use href="./img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="list list-footer-down">
      <p class="link item footer-down footer-down-a">
        &#xa9; 2022 The Watch Spot. All rights reserved.
      </p>
      <div class="list-footer-down-one">
        <p class="link item footer-down footer-down-p">Privacy Policy</p>
        <p class="link item footer-down footer-down-t">Terms of Service</p>
      </div>
    </ul>
  </div>
</footer>
