<section class="hero">
  <div class="container">
    <div class="wrap-desktop-name">
      <h1 class="hero-name">Welcome to our collection of premium watches</h1>
      <div class="just-text-desktop">
        <p class="hero-text no3">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
    </div>
    <!-- Slider -->
    <div class="wrap-bottom-desktop">
      <div class="wrap768">
        <div class="wrap-televozor no1">
          <div class="televizor">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide num1">
                  <img
                    class="slid-pic"
                    src="../img/hero-slider-5.png"
                    srcset="../img/hero-slider-5-2x.png 2x"
                    alt="watch image 1"
                  />
                </div>
                <div class="swiper-slide num2">
                  <img
                    class="slid-pic"
                    src="../img/hero-slider-1.png"
                    srcset="../img/hero-slider-1-2x.png 2x"
                    alt="watch image 2"
                  />
                </div>
                <div class="swiper-slide num3">
                  <img
                    class="slid-pic"
                    src="../img/hero-slider-2.png"
                    srcset="../img/hero-slider-2-2x.png 2x"
                    alt="watch image 3"
                  />
                </div>
                <div class="swiper-slide num4">
                  <img
                    class="slid-pic"
                    src="../img/hero-slider-3.png"
                    srcset="../img/hero-slider-3-2x.png 2x"
                    alt="watch image 4"
                  />
                </div>
                <div class="swiper-slide num5">
                  <img
                    class="slid-pic"
                    src="../img/hero-slider-4.png"
                    srcset="../img/hero-slider-4-2x.png 2x"
                    alt="watch image 5"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-buttons">
            <div class="btn-wrp">
              <div class="button-prev">
                <button class="hero-btn" type="button">
                  <span class="left-btn">
                    <svg class="btn-pic" width="10" height="20">
                      <use href="../img/icons.svg#left-arrow"></use>
                    </svg>
                  </span>
                </button>
              </div>
              <div class="button-next">
                <button class="hero-btn" type="button">
                  <span class="right-btn">
                    <svg class="btn-pic" width="10" height="20">
                      <use href="../img/icons.svg#right-arrow"></use>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            <div class="spw">
              <div class="sviper-pagination">
                <div class="box"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="wrap-televozor no2">
          <div class="televizor">
            <div class="swiper mySwiper1">
              <div class="swiper-wrapper">
                <div class="swiper-slide num1">
                  <img
                    class="slid-pic"
                    src="../img/tablet-slider-1.png"
                    srcset="../img/tablet-slider-1-2x.png 2x"
                    alt="watch image 1"
                  />
                </div>
                <div class="swiper-slide num2">
                  <img
                    class="slid-pic"
                    src="../img/tablet-slider-2.png"
                    srcset="../img/tablet-slider-2-2x.png 2x"
                    alt="watch image 2"
                  />
                </div>
                <div class="swiper-slide num3">
                  <img
                    class="slid-pic"
                    src="../img/tablet-slider-3.png"
                    srcset="../img/tablet-slider-3-2x.png 2x"
                    alt="watch image 3"
                  />
                </div>
                <div class="swiper-slide num4">
                  <img
                    class="slid-pic"
                    src="../img/tablet-slider-4.png"
                    srcset="../img/tablet-slider-4-2x.png 2x"
                    alt="watch image 4"
                  />
                </div>
                <div class="swiper-slide num5">
                  <img
                    class="slid-pic"
                    src="../img/tablet-slider-5.png"
                    srcset="../img/tablet-slider-5-2x.png 2x"
                    alt="watch image 5"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-buttons">
            <div class="btn-wrp">
              <div class="button-prev1">
                <button class="hero-btn" type="button">
                  <span class="left-btn">
                    <svg class="btn-pic" width="10" height="20">
                      <use href="../img/icons.svg#left-arrow"></use>
                    </svg>
                  </span>
                </button>
              </div>
              <div class="button-next1">
                <button class="hero-btn" type="button">
                  <span class="right-btn">
                    <svg class="btn-pic" width="10" height="20">
                      <use href="../img/icons.svg#right-arrow"></use>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            <div class="spw">
              <div class="sviper-pagination1">
                <div class="box"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="just-text">
          <p class="hero-text no4">
            Our watches are not just timepieces, but also an expression of your
            personality and lifestyle. From classic designs to modern ones, we
            have a watch to suit every taste and occasion.
          </p>
        </div>
      </div>

      <div class="bottom-pic no1">
        <img
          src="../img/hero-pic.jpg"
          srcset="../img/hero-pic-2x.jpg 2x"
          alt="watch on hand"
        />
      </div>
      <div class="bottom-pic no2">
        <img
          class="tablet-boottom-pic"
          src="../img/tablet-boottom-pic.jpg"
          srcset="../img/tablet-boottom-pic-2x.jpg 2x"
          alt="watch on hand"
          width="704"
          height="410"
        />
      </div>
      <div class="bottom-pic no2">
        <img
          class="tablet-boottom-pic1"
          src="../img/desktop-hand.jpg"
          srcset="../img/desktop-hand-2x.jpg 2x"
          alt="watch on hand"
          width="676"
          height="394"
        />
      </div>
    </div>
  </div>
</section>
