<section class="new-watch-section">   
    <div class="container">
        <h2 class="new-watch title" >New watches</h2>
        <h3 class="my-new-watch"> Green And Bronze—The Match Made In Heaven</h3>
        <ul class="new-watch-list list">
          <li class="new-watch-item">
            <img class="img-watch"
            src="./img/hand-watch.jpg"
            alt="hand-watch"
            srcset="./img/hand-watch-x2.jpg 2x"
            />
            <img class="img-watch"
            src="./img/watch.jpg" alt="watch-Roger Dubus"
            srcset="./img/watch-x2.jpg 2x"
            />
          </li>
        </ul>
    </div>
  </section>