      <!------------------------ NEW WATCH-------------------------->
      <section class="new-watch-section">   
        <div class="container">
        
            <h1 class="new-watch title" >New watches</h1>
                <h2 class="my-new-watch"> Green And Bronze The Match Made In Heaven</h2>
           <ul class="new-watch-list">
             <li class="new-watch-item list">
             <img class="img-watch"
                src="./img/hand-watch.jpg"
                alt="hand-watch"
                srcset="./img/hand-watch-x2.jpg 2x"
                />
            <img class="img-watch"
            src="" alt="watch-Roger Dubus"
                    srcset="./img/watch-x2.jpg 2x"
             />
         </li>
        </ul>
        </section>
        </div>