<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css">
    <link rel="stylesheet" href="../css/sale_V1.css">
</head>

<body>
    <!-- ================Sale Section========== -->
    <section class="sale-section">
        <div class="container">
            <h2 class="section-name">Sale</h2>
            <div class="all-content-wrapper">
                <div class="all-pics-wrapper">
                    <ul class="small-pics-list list">
                        <li><img class="watch-pic" srcset="../img/police-watch-90-degree-small@2x.jpeg 2x"
                                src="../img/police-watch-90-degree-small.jpeg" alt="grate swiss made watches"></li>
                        <li><img class="watch-pic" srcset="../img/police-watch-45-degrees@2x.jpeg 2x"
                                src="../img/police-watch-45-degrees.jpeg" alt="grate swiss made watches"></li>
                        <li><img class="watch-pic" srcset="../img/police-watch-back-side@2x.jpeg 2x"
                                src="../img/police-watch-back-side.jpeg" alt="grate swiss made watches"></li>
                        <li><img class="watch-pic" srcset="../img/police-watch-close@2x.jpeg 2x"
                                src="../img/police-watch-close.jpeg" alt="grate swiss made watches"></li>
                    </ul>
                    <img class="watch-pic-big" srcset="../img/police-watch-90-degree@2x.jpeg 2x"
                        src="../img/police-watch-90-degree.jpeg" alt="grate swiss made watches">
                </div>
                <div class="all-text-wrapper">
                    <h3 class="sale-watches-model">Greenlane Watch By Police For MenHT</h3>
                    <p class="sale-watches-tag">Product tag: PEWJK2227003</p>
                    <div class="prices underline">
                        <p class="price">€700</p>
                        <p class="old-price">€1000</p>
                    </div>
                    <div class="decor-wrapper">
                        <h4 class="watch-description-paragraph">Description</h4>
                        <svg class="sale-section-decor" width="16px" height="1px">
                            <use href="../img/sale-decor.svg"></use>
                        </svg>
                    </div>

                    <p class="watch-desc-detailed underline padding">Richly detailed with an understated design - the
                        Police
                        Men’s
                        Greenlane
                        watch
                        features a versatile multifunction design
                        that fits effortlessly into work and play. The steel case is adorned with a semi-transparent
                        black
                        dial.
                        The
                        timepiece
                        exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
                    <div class="decor-wrapper">
                        <h4 class="watch-description-paragraph">DETAILS & FEATURESTION</h4>
                        <svg class="sale-section-decor" width="16px" height="1px">
                            <use href="../img/sale-decor.svg"></use>
                        </svg>
                    </div>
                    <p class="watch-desc-detailed perenos">
                        Gender: man <br>
                        Size: 46x54.5mm <br>
                        Case Colour: Steel <br>
                        Band Material: Metal <br>
                        Case Material: Metal <br>
                        Features: Multifunction <br>
                        Water Resistant: 5 (ATM) <br>
                        Band Colour: Steel</p>
                </div>
            </div>
        </div>


    </section>
</body>

</html>