<!-- ================Sale Section========== -->
<section class="sale-section project-margin">
    <div class="container container-sale">
        <h2 class="section-name" id="sale" >Sale</h2>
        <div class="all-content-wrapper">
            <div class="all-pics-wrapper">
                <ul class="small-pics-list list">
                    <li><img class="watch-pic" srcset="./img/police-watch-90-degree-small@2x.jpeg 2x"
                            src="./img/police-watch-90-degree-small.jpeg" alt="grate swiss made watches"></li>
                    <li><img class="watch-pic" srcset="./img/police-watch-45-degrees@2x.jpeg 2x"
                            src="./img/police-watch-45-degrees.jpeg" alt="grate swiss made watches"></li>
                    <li><img class="watch-pic" srcset="./img/police-watch-back-side@2x.jpeg 2x"
                            src="./img/police-watch-back-side.jpeg" alt="grate swiss made watches"></li>
                    <li><img class="watch-pic" srcset="./img/police-watch-close@2x.jpeg 2x"
                            src="./img/police-watch-close.jpeg" alt="grate swiss made watches"></li>
                </ul>
                <img class="watch-pic-big" srcset="./img/police-watch-90-degree@2x.jpeg 2x"
                    src="./img/police-watch-90-degree.jpeg" alt="grate swiss made watches">
            </div>
            <div class="all-text-wrapper">
                <h3 class="sale-watches-model">Greenlane Watch By Police For MenHT</h3>
                <p class="sale-watches-tag">Product tag: PEWJK2227003</p>
                <div class="prices underline">
                    <p class="price">€700</p>
                    <p class="old-price">€1000</p>
                </div>
                <div class="decor-wrapper">
                    <h4 class="watch-description-paragraph">Description</h4>
                    <svg class="sale-section-decor" width="16px" height="1px">
                        <use href="./img/sale-decor.svg"></use>
                    </svg>
                </div>

                <p class="watch-desc-detailed underline padding">Richly detailed with an understated design - the
                    Police
                    Men’s
                    Greenlane
                    watch
                    features a versatile multifunction design
                    that fits effortlessly into work and play. The steel case is adorned with a semi-transparent
                    black
                    dial.
                    The
                    timepiece
                    exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
                <div class="decor-wrapper">
                    <h4 class="watch-description-paragraph">DETAILS & FEATURESTION</h4>
                    <svg class="sale-section-decor" width="16px" height="1px">
                        <use href="./img/sale-decor.svg"></use>
                    </svg>
                </div>
                <p class="watch-desc-detailed perenos">
                    Gender: man <br>
                    Size: 46x54.5mm <br>
                    Case Colour: Steel <br>
                    Band Material: Metal <br>
                    Case Material: Metal <br>
                    Features: Multifunction <br>
                    Water Resistant: 5 (ATM) <br>
                    Band Colour: Steel</p>
            </div>
        </div>
    </div>
</section>