 <section class="sale-section" >
    <div class="container" >
    <h1 class="sale-title ">Sale</h1>
   
        
            <ul class="sale-list list" >
                <li class="sale-item">
                <img 
                src="./img/sale-watch-1.jpg" 
                alt="front of clock"
                srcset=". /img/sale-watch-1-2x.jpg 2x">
            </li>
                <li class="sale-item">
                <img 
                src="./img/sale-watch-2.jpg" 
                alt="side of the clock"
                srcset=". /img/sale-watch-2-2x.jpg 2x">
                </li>
                <li class="sale-item">
                <img 
                src="./img/sale-watch-3.jpg" 
                alt="back of clock"
                srcset=". /img/sale-watch-3-2x.jpg 2x">
               </li>
                <li class="sale-item">
                <img
                src="./img/sale-watch-4.jpg" 
                alt="watch photo"
                srcset=". /img/sale-watch-4-2x.jpg 2x">
                </li>
               </ul>
               <img 
               class="big-img" 
               src="./img/sale-watch-5.png"
               alt="large photo of clock"
               srcset=". /img/sale-watch-5-x2.png 2x">
       </div>
        <div class=" divider">
            <h1 class="saler-text"> Greenlane Watch By Police For Menht </h1>
            <p class="sale-text">Product tag: PEWJK2227003</p>
            <p class="sale-role">€700</p>
            <p class="salen-text">€1000</p>  
            <p class="line"></p>
           </div>
     <div class="divider">
<h2 class="sale-watch">Description</h2>
    <p class="sale-description">Richly detailed with an understated design - the Police Mens Greenlane watch features a versatile multifunction design that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The timepiece exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
    <p class="line-2"></p>
</div>
<div class="divider">
<h2 class=" details-text">DETAILS & FEATUREStion</h2>
<div class="gender-text">
   <p >Gender: man</p>
   <p> Size: 46x54.5mm </p>
   <p> Case Colour: Steel </p>
   <p> Band Material: Metal </p>
   <p> Case Material: Metal </p>
   <p> Features: Multifunction </p> 
   <p> Water Resistant: 5 (ATM)</p>
   <p>Band Colour: Steel</p>
</div>

</div> 
    </section>