@media screen and (min-width: 375px) {
    
     
    
    
  .new-watch-title{
   padding-top: 10px;
    }
    
  .item-wrapp{
    padding-top: 40px;
    padding-bottom: 20px;
    gap: 20px;
    }
    img {
      margin-bottom: 20px;
    }
  }
    
    
  
  /* ---------------tablet----------- */

   
  @media screen and (min-width: 768px) {
    
      
  .new-watch-title{
 padding-top: 30px;
  }
  
.item-wrapp{
  padding-top: 40px;
  display: flex;
   gap: 20px;
    }
}

/* -----------------deskop-------------------- */
@media screen and (min-width: 1280px) {

        
  .item-wrapp{
  padding-bottom: 80px;
    display: flex;
   gap: 24px;
    }
    .new-watch-title{
      padding-top: 80px;
     }
  }
